.vscode
firmware/build
firmware/sdkconfig
firmware/sdkconfig.defaults
firmware/sdkconfig.old
firmware/main/config.h
server/output
data-miner/server/db.json
*/**/config.js
*/**/node_modules
*/**/package-lock.json